
@{
    ViewBag.Title = "菜单新增(修改)";
}

<div class="box">
    <form id="sumbitForm" name="sumbitForm">
        <div class="box-body">
            <input type="hidden" Id="Id" name="Id" value="@ViewBag.Id" />
            <div class="col-xs-6">
                <div class="form-group">
                    <label>所属模块</label><span class="text-danger">*</span>
                    <select type="text" class="form-control" id="ModuleId" name="ModuleId"></select>
                </div>
                <div class="form-group">
                    <label>菜单名称</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="MenuName" name="MenuName">
                </div>
                <div class="form-group">
                    <label>排序号</label><span class="text-danger">*</span>
                    <input type="number" class="form-control" min="0" max="100" id="Sort" name="Sort">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label>路径</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="Url" name="Url" />
                </div>
                <div class="form-group">
                    <label>样式</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="Class" name="Class">
                </div>
                <div class="form-group">
                    <label>描述</label>
                    <input type="text" class="form-control" id="Description" name="Description">
                </div>
            </div>
            <div class="box-footer col-xs-12">
                <button type="submit" class="btn btn-primary" id="sumbit">保存</button>
            </div>
        </div>
    </form>
</div>
<script src="~/Views/Menu/AddOrEdit.js"></script>
