@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="title"><i class="fa fa-map-marker map-loc"></i>位置：<a>系统管理</a>/<a>菜单管理</a></span>
    </div>
</div>
<div class="col-xs-12" style="background-color: #000000; height: 3px;"></div>
<div class="col-xs-2 Tree"   style="overflow: auto;">
    <ul id="treeDemo" class="ztree"></ul>
</div>
<div class="col-xs-10" style="border-left-style: solid; border-width: 1px;">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom" name="selectFrom">
            <div class="form-group">
                <input class="btn btn-success add_btn" type="button" value="添加">&nbsp;
                <input class="btn btn-info edit_btn" type="button" value="编辑">&nbsp;
                <input class="btn btn-danger del_btn" type="button" value="删除">&nbsp;
            </div>
            <div class="form-group">
                <label>模块</label>
                <select type="text" class="form-control" style="width: 179px;" id="QueryModuleId" name="ModuleId"></select>
                <label>菜单名称：</label>
                <input id="QueryMeunName" Name="MenuName" class="form-control" />
                <input class="btn btn-success query_btn" type="button" value="查询">
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData"></table>
        <div id="pager"></div>
    </div>
</div>
<script src="~/Views/Menu/Index.js"></script>