
@{
    Layout = null;
}
<style>
    #courseList li {
    line-height: 35px;
    color: #555555;
    padding-left: 5%;
    border-bottom: 1px dashed #e9e9e9;
}
</style>
<script type="text/javascript" src="/Areas/jjs/resources/js/zhangjie.js?v=1.0"></script>
<ul id="courseList"></ul>
<script type="text/html" id="courseList_html">
    {{each SubCourseList}}
    <li>课程{{$index+1}}：<a target="_blank" href="/jjs/CourseInfo/Index?id={{$value.Id}}&courseType={{$value.Id}}">{{$value.CourseName}}</a><span class="keshi"></span></li>
    {{/each}}
</script>
<script >
    topevery.ajax({
        url: 'api/CoursePack/GetCoursePackDetail',
        data: JSON.stringify({ Id: $('#courseId').val() })
    }, function (data) {
        if (data) {
            if (data.Success) {
                var courseinfo = data.Result;
                $("#courseList").html(template("courseList_html", courseinfo));
                $('#courseCover').attr('src', courseinfo.CourseIamge);
            }
        }
    });
</script>