@{
    ViewBag.Title = "Index";
    Layout = null;
}


<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="title"><i class="fa fa-map-marker map-loc"></i>位置：<a>系统管理</a>/<a>模块管理</a></span>
    </div>
</div>
<div class="col-xs-12" style="background-color: #000000; height: 3px;"></div>
<div class="col-xs-12 ">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom" name="selectFrom">
            <div class="form-group">
                <input class="btn btn-success add_btn" type="button" value="添加">&nbsp;
                <input class="btn btn-danger del_btn" type="button" value="删除">&nbsp;
            </div>
            <div class="form-group">
                <label>视频名称：</label>
                <input id="QueryName" Name="Name" class="form-control"/>

                <label>视频别名：</label>
                <input id="QueryVideoAlias" Name="VideoAlias" class="form-control" />
                <input class="btn btn-success query_btn" type="button" value="查询">
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData"></table>
        <div id="pager"></div>
    </div>
</div>
<link rel="stylesheet" href="https://g.alicdn.com/de/prismplayer/2.6.0/skins/default/aliplayer-min.css" />
<script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/2.6.0/aliplayer-min.js"></script>
<script src="~/Views/Video/Index.js"></script>