
@{
    Layout = null;
}
@*课程资源列表*@
<div class="col-xs-12">
    <form id="resourceSelectFrom" name="selectFrom">
        <input hidden="hidden" name="CourseId" Id="QueryCourseId" value="@ViewBag.CourseId" />
    </form>
    <div class="col-xs-12">
        <div class="box-body row">
            <table id="resourceData"></table>
            <div id="resourcePager"></div>
        </div>
    </div>
    <div class="col-xs-12" style="padding-top: 5px;">
        <button class="btn btn-primary success" style="float: right;" id="addResource">添加</button>
    </div>
</div>

<script src="~/Views/CourseResource/Index.js"></script>