
@{
    ViewBag.Title = "试卷修改";
}

<div class="box">
    <form id="sumbitForm" name="sumbitForm">
        <div class="box-body">
            <input type="hidden" Id="Id" name="Id" value="@ViewBag.Id" />
            <div class="col-xs-12">
                <div class="form-group">
                    <label>试卷名称</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="PaperName" name="PaperName">
                </div>
                <div class="form-group">
                    <label>考试时长</label><span class="text-danger">*</span>
                    <input type="number" class="form-control" id="TestTime" name="TestTime">
                </div>
                <div class="form-group">
                    <label>试卷类别</label>
                    <input type="radio" checked="checked" value="0" name="Type">历年真题
                    <input type="radio" value="1" name="Type">模拟试卷
                </div>
            </div>
            <div class="box-footer col-xs-12">
                <button type="submit" class="btn btn-primary" id="sumbit">保存</button>
            </div>
        </div>
    </form>
</div>
<script src="~/Views/PaperInfo/EditInfo.js"></script>
