
@{
    Layout = null;
}
<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="glyphicon glyphicon-arrow-left" style="color:green;cursor:pointer;" id="return_btn">返回</span>
    </div>
</div>
<div class="col-xs-12" style="background-color: #000000; height: 3px;"></div>
<div class="col-xs-12 ">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom" name="selectFrom">
            <div class="form-group">
                <input type="hidden" id="CourseId" name="CourseId" value="@ViewBag.CourseId" />
                <label>防伪码：</label>
                <input id="QueryCode" Name="Code" class="form-control"/>
                <input class="btn btn-success query_btn" type="button" value="查询">
                <input class="btn btn-default import_btn" type="button" value="导入防伪码">
                <input class="btn btn-info add_btn" type="button" value="添加">
                <input class="btn btn-danger delete_btn" type="button" value="清空全部数据">
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData"></table>
        <div id="pager"></div>
    </div>
</div>
<script src="~/Views/CourseSecurityCode/Index.js"></script>