
@{
    ViewBag.Title = "请选择您的专业";
    Layout = "~/Areas/jjs/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="pragram" content="no-cache">
    <link href="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/resources/style/index1.css" rel="stylesheet" type="text/css">
    <title></title>
    <style>
        .kcfl_mc span {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <div class="kcfl" id="ProjectAll">
    </div>
    <div class="clear"></div>
</body>
</html>
<script type="text/html" id="ProjectAll_html">
    {{each Result}}
    <div class="kcfl_new">
        <div class="kcfl_new_h3">
            <h3>{{$value.ProjectName}}</h3>
        </div>
        <div class="kcfl_mc">
            {{each $value.SubjectModel}}
            {{ if subjectId==$value.Id}}
            <a href="#" subjectId="{{$value.Id}}"><span class="kjkc_hover">{{$value.SubjectName}}</span></a>
            {{else}}
            <a href="#" subjectId="{{$value.Id}}"><span>{{$value.SubjectName}}</span></a>
            {{/if}}
            {{/each}}
        </div>
    </div>
    {{/each}}
</script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Images/Home/js/ajax.js" type="text/javascript"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/Views/Subject/Index.js?v=1.0"></script>
