.address{background:#eeeeee;margin-right:30px;}
.box{padding:15px;}
.username{font-size:16px; color:#323232;font-weight: bold;}
.npc{color:#fff;background: #e2231a;border-radius:2px;padding:2px 3px;font-size:12px;margin-left: 20px}
.message{margin:20px 0;line-height: 24px;font-size:14px; color:#323232;}
.link{color:#2e4ec5;font-size:14px;margin-left: 30px;}