
@{
    ViewBag.Title = "课程内容管理";
    Layout = null;
}
<link href="~/Libs/select2-4.0.6/css/select2.min.css" rel="stylesheet" />
<style>
    #selectFrom .form-control {
        min-width: 179px;
    }

    tbody > tr > td {
        overflow: visible !important;
    }
</style>
<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="title"><i class="fa fa-map-marker map-loc"></i>位置：<a>课程管理</a>/<a>课程内容管理</a></span>
    </div>
</div>

<div class="col-xs-12" style="background-color: #000000; height: 3px;"></div>
<div class="col-xs-2 KnowledgePointTree" style="overflow: auto;">
    <ul id="subjectTree" class="ztree"></ul>
</div>

<div class="col-xs-10">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom" name="selectFrom">
            <div class="form-group">
                <label>课程名称：</label>
                <input id="QueryCourseName" Name="CourseName" class="form-control" />
                <label>主讲教师</label>
                <select class="form-control" id="QueryTeacherId" name="TeacherId"></select>
                <label>类型：</label>
                <select id="QueryType" Name="Type" class="form-control">
                    <option value="-1">---全部---</option>
                    <option value="0">课程</option>
                    <option value="1">题库</option>
                </select>
                <input type="hidden" id="QueryProjectId" Name="ProjectId" class="form-control" />
                <input type="hidden" id="QuerySubjectId" Name="SubjectId" class="form-control" />
                <input type="hidden" id="QueryProjectClassId" name="ProjectClassId" class="form-control" />
                <input class="btn btn-success query_btn" type="button" value="查询">
                @*<input class="btn btn-success" type="button" id="twoDimensionalCode" onclick="" value="生成二维码">*@
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData"></table>
        <div id="contentpager"></div>

    </div>


    @*<div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="#panel-chapter" id="tab_courseChapter" data-toggle="tab">课程章节</a>
                </li>
                <li>
                    <a href="#panel-video" id="tab_courseVideo" data-toggle="tab">章节视频</a>
                </li>
                <li>
                    <a href="#panel-resource" id="tab_courseResource" data-toggle="tab">课程资源</a>
                </li>
                <li>
                    <a href="#panel-paper" id="tab_coursePaper" data-toggle="tab">课程试卷</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="panel-chapter"></div>
            <div class="tab-pane" id="panel-resource"></div>
            <div class="tab-pane" id="panel-video"></div>
            <div class="tab-pane" id="panel-paper"></div>
        </div>*@

</div>
<script src="~/Libs/select2-4.0.6/js/select2.min.js"></script>
<script src="~/Libs/select2-4.0.6/js/i18n/zh-CN.js"></script>
<script src="~/Views/CourseInfo/CourseContent.js"></script>