
@{
    ViewBag.Title = "编辑课程内容";
    Layout = null;
}
<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="glyphicon glyphicon-arrow-left" style="color:green;cursor:pointer;" id="return_btn">返回</span>
    </div>
</div>
<input hidden="hidden" value="@ViewBag.CourseId" id="courseid">
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#panel-chapter" id="tab_courseChapter" data-toggle="tab">课程章节</a>
        </li>
        <li>
            <a href="#panel-video" id="tab_courseVideo" data-toggle="tab">章节视频</a>
        </li>
        <li>
            <a href="#panel-resource" id="tab_courseResource" data-toggle="tab">课程资源</a>
        </li>
        <li>
            <a href="#panel-paper" id="tab_coursePaper" data-toggle="tab">测评试卷</a>
        </li>
    </ul>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="panel-chapter"></div>
    <div class="tab-pane" id="panel-resource"></div>
    <div class="tab-pane" id="panel-video"></div>
    <div class="tab-pane" id="panel-paper"></div>
</div>
<script src="~/Views/CourseInfo/EditContent.js"></script>