

.courses{background: #fff;}
.courses li{margin-bottom:20px;}

.courses .bookImg img:hover{animation:mymove 1s 1;
-moz-animation:mymove 1s 1; /* Firefox */
-webkit-animation:mymove 1s 1; /* Safari and Chrome */
-o-animation:mymove 1s 1; /* Opera */;}
@keyframes mymove
{
from {transform:scale(1,1);}
to {transform:scale(1.1,1.1);}
}
.courses .bookName{    font-size: 18px; color: #07111b; margin: 15px 0; line-height: 20px; display: block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.courses p label{color:#585858; font-size:14px; display: inline-block; margin-right:20px;}


.more{display:block; width:52px;height:52px;font-size:14px;background:#fd3537;border-radius:52px;color:#fff;line-height: 52px;text-align:center;margin:40px auto -26px;position:relative;z-index: 9;}

.information{background:#f9f8f8;}
.ifmImg{width:112px;height:112px;float:left;border-radius: 5px;overflow:hidden;}
.ifmImg img{width:100%;height:100%;}
.ifmContent{margin-left:130px;}
.information .time{font-size:15px; color:#07111b;}
.information .ifmName{font-size:16px; color:#07111b;display: block; height: 87px; overflow: hidden;}


.winTit{font-size:18px; color:#505050;text-align:center;margin-bottom: 33px}

.module{margin-bottom: 30px;overflow: hidden;}
.module ul li{float:left;min-width: 105px;margin-bottom: 5px;margin-right:10px;}
.module a{display: inline-block; color:#505050;font-size:14px;height:30px;line-height: 30px;padding:0 10px;}
.module .cur,.module a:hover{background: #f32426;color:#fff; border-radius:100px;}
.skip{position: absolute;right:30px;line-height:38px;color:#989898;font-size:16px;}
