
@{
    Layout = null;
}
<div class="col-xs-12 ">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom1" name="selectFrom1">
            <input hidden="hidden" value="@ViewBag.RoleId" name="RoleId" id="RoleId1">
            <div class="form-group">
                <label>人员名称：</label>
                <input id="QueryUserName1" Name="UserName" class="form-control" />
                <input class="btn btn-success query_btn1" type="button" value="查询">
                <input class="btn btn-success add_btn1" type="button" value="保存">&nbsp;
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData1"></table>
        <div id="pager1"></div>
    </div>
</div>

<script src="~/Views/Role/RoleUserAddOrEdit.js"></script>