
@{
    ViewBag.Title = "经济师课程";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .right .last {
        background: url(http://img.ablesky.cn/stats/images/searchresult/arrow_767e5f1f.png ) no-repeat 0 -35px;
        height: 9px;
        width: 9px;
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        margin: -3px 0 0 5px;
    }

    .right .selected {
        color: #f32426 !important;
        text-decoration: none;
    }

    .right .down-ico {
        background-position: 0px 0px;
    }

    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: #f3f3f3;
    }

    .kc_listnav {
        width: 1200px;
        border-radius: 10px;
        background: #fff;
        margin: 0 auto;
    }

        .kc_listnav ul {
            list-style-type: none;
            padding: 0 20px;
        }

            .kc_listnav ul li {
                padding: 10px 0;
            }

                .kc_listnav ul li h3 {
                    font-size: 14px;
                    font-weight: 100;
                    float: left;
                    line-height: 40px;
                    padding-right: 20px;
                }

                .kc_listnav ul li a {
                    font-size: 14px;
                    color: #333;
                    text-decoration: none;
                    margin-right: 20px;
                    line-height: 40px;
                    padding: 5px 10px;
                    white-space:nowrap;
                }

                    .kc_listnav ul li a.kclist_hover {
                        background: red;
                        padding: 5px 10px;
                        ;
                        color: #fff;
                        border-radius: 10px;
                    }

                    .kc_listnav ul li a:hover {
                        background: red;
                        padding: 5px 10px;
                        ;
                        color: #fff;
                        border-radius: 10px;
                    }
</style>
<link href="@HttpContext.Current.Application["DefuleDomain"]/Libs/pagination/pagination.css" rel="stylesheet" />
<input type="hidden" id="Type" value="@ViewBag.Type"/>
<input type="hidden" id="searchcourseinfo" value="" />
<div class="main" style="min-height: 600px;">
    <div class="kc_listnav">
        <ul>
            <li style="border-bottom: 1px dotted #d9d9d9;" id="ProjectClassAll">
            </li>
            <script type="text/html" id="ProjectClassAll_html">
                <h3>级别</h3>
                {{each Result}}
                {{if $index==0}}
                <a href="#" class="kclist_hover" ProjectId="{{$value.Id}}">{{$value.ProjectName}}</a>
                {{else}}
                <a href="#" ProjectId="{{$value.Id}}">{{$value.ProjectName}}</a>
                {{/if}}
                {{/each}}
            </script>
            <li style="border-bottom: 1px dotted #d9d9d9;" id="SubjectAll">
            </li>
            <script type="text/html" id="SubjectAll_html">
                <h3>专业</h3>
                <a href="#" class="kclist_hover">全部</a>
                {{each SubjectModel}}
                <a href="#" SubjectId="{{$value.Id}}">{{$value.SubjectName}}</a>
                {{/each}}
            </script>
            <li id="AllCourese">
                <h3>分类</h3>
                <a href="#" CourseType="" class="kclist_hover">全部</a>
                <a href="#" CourseType="1">套餐</a>
                <a href="#" CourseType="0">单科</a>
            </li>
        </ul>
    </div>

    <div class="crumb">
        <div class="left">
            <a href="~/Home/Index">首页</a> &gt;<a href="javascript:;" id="subjectName1"></a> <a href="javascript:;">全部课程</a>
        </div>
        <div class="right sort">
            <a data="1" sord="Desc" href="javascript:;">综合排序<i class="last"></i></a>
            <a data="2" sord="Desc" href="javascript:;">好评率<i class="last"></i></a>
            <a data="3" sord="Desc" href="javascript:;">人气<i class="last"></i></a>
            <a data="4" sord="Asc" href="javascript:;">价格<i class="last"></i></a>
        </div>
    </div>
    <!-- 课程start -->
    <div class="course" style="background: #f3f3f3;">
        <script type="text/html" id="PopularCourses_html">
            {{each Rows}}
            <li class="layui-col-xs3">
                <div>
                    <a href="/CourseInfo/CourseInfo?courseId={{$value.Id}}&CourseType={{$value.CourseType}}&type=kc" target="_blank" class="bookImg"><img src="{{$value.CourseIamge}}"></a>
                    <a href="/CourseInfo/CourseInfo?courseId={{$value.Id}}&CourseType={{$value.CourseType}}&type=kc" target="_blank" class="bookName" title="{{$value.CourseName}}">{{$value.CourseName}}</a>
                    <p>
                        {{if $value.SubjectName}}
                        <label>{{$value.SubjectName}}</label>
                        {{else}}
                        <label>套餐课程</label>
                        {{/if}}
                        {{if $value.Count}}
                        <label>{{$value.Count}}购买</label>
                        {{else}}
                        <label>0购买</label>
                        {{/if}}
                    </p>
                    <p class="cost">¥{{$value.FavourablePrice}}</p>
                </div>
            </li>
            {{/each}}
        </script>
        <ul class="layui-col-space20  layui-row" id="PopularCourses"></ul>
        <div class="m-style M-box1" style="float: right; padding-right: 6px; margin-top: 23px;"></div>
        <div class="clear"></div>
    </div>
</div>
<input type="hidden" Id="Rows" value="12" />
<input type="hidden" Id="PageIndex" value="1" />
<script src="@HttpContext.Current.Application["DefuleDomain"]/Libs/pagination/jquery.pagination.js?v=1.0"></script>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Views/CourseQueries/IndexQuery.js?v=1.0"></script>
