
@{
    Layout = null;
    ViewBag.Title = "课程试题";
}

<div class="col-xs-12">
    <form id="paperSelectFrom" name="selectFrom">
        <input hidden="hidden" name="CourseId" Id="QueryCourseId" value="@ViewBag.CourseId" />
    </form>
    <div class="col-xs-12">
        <div class="box-body row">
            <table id="paperData"></table>
            <div id="paperPager"></div>
        </div>
    </div>
</div>
<div class="col-xs-12" style="padding-top: 5px;">
    <button class="btn btn-primary success" style="float: right;" id="addPaper">添加</button>
</div>
<script src="~/Views/CoursePaper/Index.js"></script>