
@{
    ViewBag.Title = "我的测评";
    Layout = "~/Areas/jjs/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="Cache-Control" CONTENT="no-cache">
    <meta http-equiv="pragram" content="no-cache">
    <link href="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/resources/style/user.css" rel="stylesheet" />
    <title>测评记录</title>
    <style>
        .loadmore {
            display: none;
            width: 100%;
            text-align: center;
            bottom: 4em;
            background-color: #f5f5e7;
            position: fixed;
        }
    </style>
</head>
<body class="body">
    <div id="papertest">

    </div>
    <script type="text/html" id="papertest_html">
        {{if Rows.length>0}}
        {{each Rows}}
        <div class="cpjl-list" >
            <div class="cpjl-nr1">
                <dl>
                    <dt><img src="/Areas/jjs/resources/images/cep@3x.png"></dt>
                    <dd>
                        <h5>{{$value.PaperName}} </h5>
                        <p>
                            <span>分数:<i>{{$value.Score}}</i></span>
                            <span>排名:<i>{{$value.RowNumber1}}</i></span>
                        </p>
                    </dd>
                    <div class="clear"></div>
                </dl>
                <span class="time">{{$value.AddTime}}</span>
            </div>
            <div class="cpjl-nr2">
                <p></p>
                <span>
                    <a href="/jjs/MyPaperTest/PaperAnalyzes?paperId={{$value.PaperId}}&paperRecordsId={{$value.Id}}" class="yse01">查看评析</a>
                    <a  onclick="jxcp('{{$value.PaperId}}')" PaperId="{{$value.PaperId}}" class="yse02">继续测评</a>
                </span>
                <div class="clear"></div>
            </div>
        </div>

        {{/each}}
        {{else}}        
        <div class="zanwu">
            <img src="/Areas/jjs/resources/images/zanwu.png">
            <p><a href="#">暂无记录</a></p>
        </div>
        {{/if}}
    </script>
    <div class="loadmore" onclick="showmore();">查看更多</div>
    <div class="hei2em"></div>
    <div class="hei2em"></div>
    <div class="hei2em"></div>
    <div class="header-nav">
        <ul>
            <li><a href="~/jjs/HomePage/Index" class="img01">首页</a></li>
            <li style="display: none;"><a href="~/jjs/Information/Index" class="img02">最新资讯</a></li>
            <li><a href="~/jjs/PersonalCenter/Index" class="img03">个人中心</a></li>
        </ul>
    </div>
</body>
</html>
<script src="@HttpContext.Current.Application["DefuleDomain"]/Areas/jjs/Views/MyPaperTest/Index.js?v=1.0"></script>

