
@{
    ViewBag.Title = "试卷组新增(修改)";
}

<div class="box">
    <form id="sumbitForm" name="sumbitForm">
        <div class="box-body">
            <input type="hidden" Id="Id" name="Id" value="@ViewBag.Id" />
            <input type="hidden" id="sId" value="@ViewBag.subjectId" />
            <div class="col-xs-12">
                <div class="form-group">
                    <label>试卷组名称</label><span class="text-danger">*</span>
                    <input type="text" class="form-control" id="PaperGroupName" name="PaperGroupName">
                </div>
                <div class="form-group">
                    <label>所属科目</label><span class="text-danger">*</span>
                    <select type="text" class="form-control" id="SubjectId" name="SubjectId"></select>
                </div>
                <div class="form-group">
                    <label>试卷组</label>
                    <select type="text" class="form-control" id="Type" name="Type">
                        <option value="0" selected="selected">历年真题</option>
                        <option value="1">模拟试卷</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>试卷状态</label>
                    <select type="text" class="form-control" id="State" name="State">
                        <option value="0" selected="selected">未发布</option>
                        <option value="1">已发布</option>
                    </select>
                </div>
            </div>
            <div class="box-footer col-xs-12">
                <button  type="submit" class="btn btn-primary" id="sumbit">保存</button>
            </div>
        </div>
    </form>
</div>
<script src="~/Views/PaperGroup/AddOrEdit.js"></script>
