
@{
    Layout = null;
}
<div class="col-xs-12">
    <div class="box-header nav-header">
        <span class="title"><i class="fa fa-map-marker map-loc"></i>位置：<a>试卷组管理</a>/<a>试卷维护</a></span>
    </div>
</div>
<div class="col-xs-12" style="background-color: #000000; height: 3px;"></div>
<div class="col-xs-12 ">
    <!-- 工具栏 -->
    <div class="content-header form-inline row">
        <form id="selectFrom" name="selectFrom">
            <input hidden="hidden" value="@ViewBag.PaperGroupId" name="PaperGroupId" id="PaperGroupId">
            <div class="form-group">
                <input class="btn btn-success add_btn" type="button" value="添加">&nbsp;
                <input class="btn btn-danger del_btn" type="button" value="删除">&nbsp;
            </div>
            <div class="form-group">
                <label>试卷名称：</label>
                <input id="QueryPaperName" Name="PaperName" class="form-control" />
                <input class="btn btn-success query_btn" type="button" value="查询">
            </div>
        </form>
    </div>
    <div class="box-body row">
        <table id="tblData"></table>
        <div id="pager"></div>
    </div>
</div>

<script src="~/Views/PaperGroup/PersonnelManagement.js"></script>